<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Sony Ecommerce</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/product_page.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
        <script type='text/javascript'>
            
            user = '{{request.user}}'

            function getToken(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie !== '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = cookies[i].trim();
                        // Does this cookie string begin with the name we want?
                        if (cookie.substring(0, name.length + 1) === (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }
            var csrftoken = getToken('csrftoken')
            
            function getCookie(name) {
                // Split cookie string and get all individual name=value pairs in an array
                var cookieArr = document.cookie.split(";");

                // Loop through the array elements
                for(var i = 0; i < cookieArr.length; i++) {
                    var cookiePair = cookieArr[i].split("=");

                    /* Removing whitespace at the beginning of the cookie name
                    and compare it with the given string */
                    if(name == cookiePair[0].trim()) {
                        // Decode the cookie value and return
                        return decodeURIComponent(cookiePair[1]);
                    }
                }

                // Return null if not found
                return null;
            }
            
            var cart = JSON.parse(getCookie('cart'))
            
            if(cart == undefined){
                cart = {}
                console.log("Cart is created!")
                document.cookie = 'cart=' + JSON.stringify(cart) + ";domain=;path=/"
            }

            console.log('Cart: ', cart)
        </script>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg bg-dark border-bottom border-body">
            <div class="container-fluid">
                <div class="container">
                    <a href="{% url 'home' %}">
                        <img src="https://sony.scene7.com/is/content/sonyglobalsolutions/sony-logo?$S7Product$" alt="Bootstrap" width="70" height="64">
                    </a>
                </div>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <ul class="navbar-nav d-flex justify-content-evenly w-100 mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active text-white" aria-current="page" href="{% url 'store' %}">Product</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="#">Link</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Dropdown
                        </a>
                        <ul class="dropdown-menu bg-dark">
                            <li><a class="dropdown-item text-white" href="#">Action</a></li>
                            <li><a class="dropdown-item text-white" href="#">Another action</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item text-white" href="#">Something else here</a></li>
                        </ul>
                    </li>
                </ul>
                
                <form class="d-flex ms-auto" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" style="height: 40px; width: 300px;">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>

                <!-- Login and Cart Section -->
                <div class="form-inline my-2 my-lg-0">
                    <a href="#" class="btn btn-warning">Login</a>
                    <a href="{% url 'cart' %}">
                        <img id="cart-icon" src="{% static 'images/cart.png' %}" alt="Cart Icon">
                    </a>
                    <p id="cart-total">{{cartItems}}</p>
                </div>                
            </div>
        </nav>
        <!-- <div class="container">
            <br>

        </div> -->

        {% block container %}

        {% endblock container %}

          <!-- Footer Section -->
        <footer class="bg-black text-light py-4">
            <div class="container">
            <div class="row">
                <!-- Find a Store Section -->
                <div class="col-md-3 mb-4">
                <h5 class="fw-bold text-uppercase">Find a Store</h5>
                <div class="d-flex align-items-center bg-dark p-2 rounded">
                    <span class="me-2 text-danger">
                    <i class="fas fa-map-marker-alt"></i>
                    </span>
                    <input
                    type="text"
                    class="form-control bg-transparent border-0 text-light"
                    placeholder="Location"
                    />
                    <button class="btn btn-primary ms-2">Search</button>
                </div>
                <a href="#" class="text-decoration-underline d-block mt-2">See Our Locations</a>
                </div>
        
                <!-- Support Section -->
                <div class="col-md-3 mb-4">
                <h5 class="fw-bold text-uppercase">Support</h5>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-light text-decoration-none">Online Help</a></li>
                    <li><a href="#" class="text-light text-decoration-none">Track Repair Status</a></li>
                    <li><a href="#" class="text-light text-decoration-none">Locate Service Centres</a></li>
                </ul>
                </div>
        
                <!-- In the News Section -->
                <div class="col-md-3 mb-4">
                <h5 class="fw-bold text-uppercase">In the News</h5>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-light text-decoration-none">Press Center</a></li>
                </ul>
                </div>
        
                <!-- Contact Us Section -->
                <div class="col-md-3 mb-4">
                <h5 class="fw-bold text-uppercase">Contact Us</h5>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-light text-decoration-none">Newsletter Subscriptions</a></li>
                    <li><a href="#" class="text-light text-decoration-none">Contact Us</a></li>
                </ul>
                </div>
            </div>
        
            <hr class="bg-light" />
        
            <div class="row align-items-center">
                <!-- Country Section -->
                <div class="col-md-3 mb-3 mb-md-0">
                <button class="btn btn-outline-light">India</button>
                </div>
        
                <!-- Links Section -->
                <div class="col-md-6 text-center">
                <a href="#" class="text-light mx-2">Company Info</a>
                <a href="#" class="text-light mx-2">E-Waste Management</a>
                <a href="#" class="text-light mx-2">Corporate Social Responsibility</a>
                <a href="#" class="text-light mx-2">Careers</a>
                <a href="#" class="text-light mx-2">Site Map</a>
                </div>
        
                <!-- Social Media Icons -->
                <div class="col-md-3 text-end">
                <a href="#" class="text-light mx-1"><i class="fab fa-facebook"></i></a>
                <a href="#" class="text-light mx-1"><i class="fab fa-x-twitter"></i></a>
                <a href="#" class="text-light mx-1"><i class="fab fa-instagram"></i></a>
                <a href="#" class="text-light mx-1"><i class="fab fa-youtube"></i></a>
                </div>
            </div>
        
            <hr class="bg-light" />
        
            <!-- Bottom Section -->
            <div class="row">
            <div class="col-md-12 text-center">
            <!-- Terms and Conditions and Privacy Policy Links -->
            <div class="d-flex justify-content-center mb-2">
                <a href="#" class="text-light me-3" style="font-size: 14px;">TERMS AND CONDITIONS OF WEBSITE USE</a>
                <a href="#" class="text-light me-3" style="font-size: 14px;">PRIVACY POLICY</a>
            </div>
        
            <!-- Sony Group Portal Site Button -->
            <div class="mb-2">
                <button class="btn btn-outline-light" style="font-size: 14px; padding: 5px 15px;">
                Sony Group Portal Site
                </button>
            </div>
        
            <!-- Copyright Notice -->
            <p class="mt-2" style="font-size: 14px; color: #999;">
                Copyright © 2023 Sony India. All rights reserved.
            </p>
            </div>
            </div>
        
            </div>
        </footer>

        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="{% static 'js/cart.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/product.js' %}"></script>
    </body>
</html>