{% extends 'store/main.html' %}
{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    </head>
    <body>
        {% block container %}

        <div class="container" style="padding-top: 100px; padding-bottom: 100px;">
            <div class="row">
                {% for product in products %}
                
                <div class="col-lg-4">
                    <img class="thumbnail" src="{{product.imageURL}}">
                    <div class="box-element product">
                        <h5><strong>{{product.name}}</strong></h5>
                        <h6><strong>{{product.description}}</strong></h6>
                        <p>{{product.highlights}}</p>
                        <hr>
                        <button data-product="{{product.id}}" data-action="add" class="btn btn-outline-secondary add-btn update-cart">Add to Cart</button>
                        <a data-product="{{product.id}}" class="btn btn-outline-success view-product" href="{%url 'product' product.id%}">View</a>
                        <p style="display: inline-block; float:right">MRP <strong>Rs.{{product.price|floatformat:2}}</strong></p>
                    </div>
                </div>

                {% endfor %}
            </div>
        </div>

        {% endblock container %}
    </body>
</html>