{% extends 'store/main.html' %}
{% load static %}
{% load custom_filters %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    </head>
    <body>
        {% block container %}

        <div class="container" style="padding-top: 100px; padding-bottom: 100px;">
            <div class="row">
                {% for product in products %}
                
                <div class="col-lg-4">
                    <img class="thumbnail" src="{{product.imageURL}}">
                    <div class="box-element product">
                        <p style="font-size: 0.9em; font-weight: lighter; color: #666;">{{product.highlights}}</p>
                        <h4>{{product.name}}</h4>
                        <h6>{{product.description}}</h6>
                        <hr>
                        <div class="d-flex gap-4">
                            <a data-product="{{product.id}}" class="btn btn-primary product-button" href="{%url 'product' product.id%}">Learn more</a>
                            <button data-product="{{product.id}}" data-action="add" class="btn btn-danger product-button add-btn update-cart">Buy</button>
                            <p style="display: inline-block; float:right">MRP <strong>Rs.{{product.price|get_by_index:0|floatformat:2}}</strong></p>
                        </div>
                        
                        <!-- <button data-product="{{product.id}}" data-action="add" class="btn btn-outline-secondary add-btn update-cart">Add to Cart</button>
                        <a data-product="{{product.id}}" class="btn btn-outline-success view-product" href="{%url 'product' product.id%}">View</a>
                        <p style="display: inline-block; float:right">MRP <strong>Rs.{{product.price|get_by_index:0|floatformat:2}}</strong></p> -->
                    </div>
                </div>

                {% endfor %}
            </div>
        </div>

        {% endblock container %}
    </body>
</html>